html, body, #map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

html, body, #map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.click {
  color: black;
  font-size: 16px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#welcomeWrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
  width: 40%;
  z-index: 50;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: rgba(239, 239, 239, 1);
  box-shadow: 0 1px 5px black;
  padding: 10px;
  border-radius: 25px;
}

.legend-control-container {
    width: 400px;
    height: 350px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#range {
    bottom: 0px; 
    right: 1px; 
    margin: 10px 25px;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}